<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kinokuniya Bookstore</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Kinokuniya Bookstore</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/books">Books</a></li>
                
                {% if 'username' in session %}
                    <!-- If user is logged in, show My Profile link -->
                    <li><a href="/customer/profile">My Profile</a></li>
                {% else %}
                    <!-- If user is not logged in, show Login and Signup links -->
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                {% endif %}
                {% if 'username' in session %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}

                <li><a href="/sitemap">Sitemap</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
