{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="/static/book.css">
{% endblock %}
{% block content %}
<h2>Books</h2>
<div class="book-list">
    {% for book in books %}
    <div class="book-item">
        <h3><a href="{{ url_for('book_detail', book_id=book.book_id) }}">{{ book.title }}</a></h3>
        <p><strong>Author:</strong> {{ book.author }}</p>
        <p><strong>Genre:</strong> {{ book.genre }}</p>
        <p><strong>Price:</strong> {{ book.price }}</p>
        {% if 'username' in session %}
        <form action="{{ url_for('add_book_to_wishlist', book_id=book.book_id) }}" method="POST">
            <button type="submit">Add to Wishlist</button>
        </form>
        <form action="{{ url_for('add_book_to_cart', book_id=book.book_id) }}" method="POST">
            Quantity: <input name="cart_quantity" id="cart_quantity" type="number" value="1" min="1" />
            <button type="submit">Add to cart</button>
        </form>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}