{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="/static/book.css">
{% endblock %}
{% block content %}
<h2>{{ book.title }}</h2>
<div class="book-detail">
    <p><strong>Author:</strong> {{ book.author }}</p>
    <p><strong>Genre:</strong> {{ book.genre }}</p>
    <p><strong>Publication Date:</strong> {{ book.publication_date }}</p>
    <p><strong>ISBN:</strong> {{ book.isbn }}</p>
    <p><strong>Price:</strong> {{ book.price }}</p>
    <p><strong>Language:</strong> {{ book.language }}</p>
    <p><strong>Stock Quantity:</strong> {{ book.stock_quantity }}</p>
</div>
{% endblock %}