{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="/static/checkout.css">
{% endblock %}
{% block content %}
<div class="checkout-container">
    <h2>Your Order</h2>
    <div class="checkout-layout">
        <div class="checkout-content">
            {% block profile_content %}
                {% for book in cart %}
                <div class="checkout-book-item">
                    <h5>{{ book.title }}</h5>
                    <p><strong>Quantity:</strong> {{book.quantity}}</p>
                    <p><strong>Price:</strong> {{book.price}}</p>
                    <p><strong>Total Price:</strong> {{ book.total_price }}</p>
                </div>
                {% endfor %}
            {% endblock %}
        </div>
        <ul class="checkout-tabs">
            <li><h3>Total</h3>: {{total_price.total}}</li>
            <li><h3>Discount</h3>: {{total_price.discount}}</li>
            <li><h3>Total</h3>: {{ total_price.total_price }} </li>
            <li><h3>Pickup location</h3></li>
            <li><select id="location" name="location" required>
                {% for store in locations %}
                <option value={{store.location_id}}>{{store.store_name}}</option>
                {% endfor %}
            </select></li>
            <li><h3>Payment method</h3></li>
            <li><select id="payment_method" name="payment_method" required>
                <option value="cash">Cash</option>
                <option value="creditcard">Credit Card</option>
                <option value="bank">Bank Transfer</option>
            </select></li>
            <li>
                <form action="{{ url_for('payment', method=payment_method, addr=location) }}" method="POST">
                    <button type="submit">Make order</button>
                </form>
            </li>
            <!-- Add button to do payment -->
        </ul>
    </div>
</div>
{% endblock %}