{% extends 'customer_profile.html' %}
{% block profile_content %}
<h3>Wishlist</h3>

<div class="wishlist-list">
    {% for book in wishlist %}
    <div class="wishlist-book-item">
        <h5>{{ book.title }}</h5>
        <p><strong>Author:</strong> {{ book.author }}</p>
        <p><strong>Genre:</strong> {{ book.genre }}</p>
        <p><strong>Price:</strong> {{ book.price }}</p>
        <form action="{{ url_for('remove_book_from_wishlist', book_id=book.book_id) }}" method="POST">
            <button type="submit">Remove from Wishlist</button>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}